* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: flex-start; 
   padding: 10px;
}

.container {
  position: relative;
  /* height: auto; */
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
  border-radius: 10px;
  background: linear-gradient(135deg, #d9a7c7, #fffcdc);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.img1 {
  display: block;
  width: 100%;
}

.img2 {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.heading {
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: rgb(121, 34, 10);
  margin-bottom: 25px;
  line-height: 1.5;
}

.name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Edwardian Script ITC;
  font-size: 32px;
  color: rgb(165, 66, 66);
  margin-bottom: 25px;
  line-height: 1;
}

.paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 6px;
  letter-spacing: 1px;
  color: rgb(121, 34, 10);
  margin-bottom: 25px;
  padding: 0 10px;
  line-height: 1.5;
}

.date {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  gap: 5px;
  color: #551212;
  margin-bottom: 24px;
  line-height: 1.5;
   align-items: baseline;
}

.date span {
  font-size: 20px;
  font-weight: bold;
}

.date span.number{
    font-size: 26px;
}

.time {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #551212;
  margin-bottom: 24px;
  line-height: 1.5;
}

.loc {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #551212;
}

@media (max-width: 600px) {
  .heading {
    font-size: 14px;
    padding: 10px;
  }
}